<!DOCTYPE html>
<html>
<head>

	<title>TextToHTML</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<main class="container">
		<form method="POST" action="/convert">
			<div class="textwrapper">
				<textarea name="text" placeholder="Enter Text"></textarea>

			</div>
			<input type="submit" name="btn-text" value="Convert" id="btn-text">
		</form>
		<div class="textwrapper">
				{% if value == '' %}
				<textarea name="text" placeholder="Enter Text"></textarea>
				{% elif value != '' %}
				<textarea name="text" placeholder="HTML Code Here">{{value}}</textarea>
				{% endif %}

			</div>
	</main>
<script type="text/javascript">
	document.ready()
</script>
</body>
</html>